body {
  background-color: #eee;
  display: flex;
}

body div {
  flex-grow: 1;
  background-color: #fff;
  margin: 5px;
  margin-top: 0px;
}

.meals {
  margin-left: 0px;
}

.orders {
  margin-right: 0px;
}

ul {
  list-style-type: none;
}

.meals-input {
  background-color: #2a91bd;
  color: #fff;
  padding: 10px 15px;
  border: solid 0px;
  border-radius: 25px;
  margin: 15px;
  margin-left: 38px;
}

.meals-input:disabled {
  background-color: #ccc;
}

.meals-list li {
  cursor: pointer;
}

.meals-list li:hover {
    font-weight: bold;
}

.selected {
  background-color: #eee;
}


.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 35rem;

  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
}

.form-title {
  font-size: 4vh;
  background-color: #ccc;
  padding: 0.5rem 6rem;
  border-radius: 0.25rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-form input, .login-form label {
  margin: 0.2rem;
}

.login-form input[type=text], .login-form input[type=password] {
  padding: 0.5rem;
  border: solid 0;
  background-color: #ccc;
  border-radius: 0.5rem;
  width: 15rem;
}

.login-form input[type=submit] {
  background-color: #2a91bd;
  color: #fff;
  padding: 10px 15px;
  border: solid 0px;
  border-radius: 25px;
  width: 16rem;
}

input[type=submit] {
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #eee;
  color: #2a91bd;
}